<!-- <h1>This is Home Page</h1>

<td><%= link_to 'Article listing', articles_path %></td>
<td><%= link_to 'About Page', about_path %></td> -->

<div id="page-content">
  <div class="container">
    <div class="mt-4 p-5 jumbotron text-center">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Write your articles</p>
      <hr class="my-4" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos,
        explicabo!
      </p>
      <a href="" class="btn btn-success btn-lg" href="#" role="button">
        Sign up!</a
      >
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Saad Ahmed", "https://github.com/saadahmad127", target: '_blank', class: "text-white" %></small>
    </div>
</footer>
